
:root {
    --background-color: #7f3b9f;
    --gradient-color: linear-gradient(to right, #5f0a87, #a4508b);
    --light-mode-text-color: #f4f0fb;
    -shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(127 59 159 / 50%);
    --text-color: #7f3b9f;
    --main-padding-outline: 0 5rem;
  }
.admin-msg-content {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-gradient {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-content {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card {
    width: 80%;
    height: 90%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 33px;
    box-shadow: 9px 9px 24px #dfe3f3, -9px -9px 24px #eff3fb;
}
.left-side {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-side ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    padding: 0;
}
.left-side ul li {
    background-color: var(--background-color);
    background-image: var(--gradient-color);
    color: var(--light-mode-text-color);
    height:10%;
    width: 70%;
    margin: 0.2rem;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    display: inline-block;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.left-side ul li:hover {
    transform: scale(1.05);
}

